/* -------------------------------------------------------------------------

 Style Guide Boilerplate
 Repo: https://github.com/bjankord/Style-Guide-Boilerplate
 Author: Brett Jankord
 License: MIT

---------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 Layout
---------------------------------------------------------------------------- */
/* http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.sg-header {
  background: #000;
  color: #fff;
  zoom: 1;
  padding-top: 12px;
  padding-bottom: 12px;
}

.sg-info,
.sg-base-styles {
  padding-bottom: 24px; /* For older browsers */
  padding-bottom: 2rem;
}

.sg-wrapper {
  position: relative; /* Used to help sidebar height go all the way down the page */
}

.sg-main,
.sg-sidebar {
  padding-top: 24px; /* For older browsers */
  padding-top: 1.5rem;
  padding-bottom: 16px; /* For older browsers */
  padding-bottom: 1rem;
}

.sg-sidebar {
  font-size: 80%;
  padding-left: 16px; /* For older browsers */
  padding-left: 0 1rem;
  padding-right: 16px; /* For older browsers */
  padding-right: 0 1rem;
}

.js .sg-sidebar {
  /*display: none;*/
  position: absolute;
  top: -100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
     -moz-transition: opacity 0.6s ease-out;
      -ms-transition: opacity 0.6s ease-out;
       -o-transition: opacity 0.6s ease-out;
          transition: opacity 0.6s ease-out;
}

.js.nav-is-active .sg-sidebar {
  /*display: block;*/
  position: static;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .sg-sidebar,
  .js .sg-sidebar,
  .js.nav-is-active .sg-sidebar {
    opacity: 1;
    display: block !important;
    float: left;
    font-size: 100%;
    width: 25%;
    position: absolute;
    /*position: fixed;
    overflow: auto;*/
    top: 0;
    bottom: 0;
  }
}

.sg-dark-theme .sg-sidebar {
  background: #3d3d3d;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .sg-main {
    float: right;
    width: 75%;
  }
}

/* -------------------------------------------------------------------------
 Utility Classes
---------------------------------------------------------------------------- */
.sg-container {
  padding: 0 24px; /* For older browsers */
  padding: 0 1.5rem;
}

.sg-animated {
  -webkit-transition: all 0.6s ease-out;
     -moz-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
       -o-transition: all 0.6s ease-out;
          transition: all 0.6s ease-out;
}

.sg-clearfix,
.sg-container {
  *zoom:1
}

.sg-container:before,
.sg-container:after,
.sg-clearfix:before,
.sg-clearfix:after{
  display:table;
  content:"";
  line-height:0
}

.sg-container:after,
.sg-clearfix:after{
  clear:both
}


.sg-section:before,
.sg-section:after,
.sg-markup-controls:before,
.sg-markup-controls:after {
  display: table;
  content: "";
  line-height: 0;
}

.sg-section:after,
.sg-markup-controls:after {
  clear: both;
}

.sg-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sg-visually-hidden-focusable:active,
.sg-visually-hidden-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* -------------------------------------------------------------------------
 Modules
---------------------------------------------------------------------------- */

/* Fonts
---------------------------------------------------------------------------- */

/* Helvetica Neue Light */
.sg-font1,
.sg-logo,
.sg-about p,
.sg-color-value  {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}

/* Helvetica Neue Medium */
.sg-font2,
.sg-logo em,
.sg-nav-toggle,
.sg-h1,
.sg-h2,
.sg-h3,
.sg-color-name,
.sg-font-list dt  {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 500;
}

/* Branding
---------------------------------------------------------------------------- */
.sg-logo {
  float: left;
  font-size: 1em;
  line-height: 2;
  margin: 0;
  padding: 0;
}

.sg-logo-full {
  display: none;
}

.sg-logo em {
  font-style: normal;
}

@media screen and (min-width: 650px) {
  .sg-logo-initials {
    display: none;
  }

  .sg-logo-full {
    display: inline;
  }
}

/* Navigation
---------------------------------------------------------------------------- */
.sg-nav-toggle {
  border: 1px solid #7C7C7C;
  border-radius: 5px;
  color: #fff;
  float: right;
  padding: 5px 8px;
  text-decoration: none;
  transition: all .15s ease-in;
}

.sg-nav-toggle:hover {
  border-color: #9c9c9c;
}

@media screen and (min-width: 1024px) {
  .sg-nav-toggle {
    display: none;
  }
}

.sg-nav-group {
  margin-bottom: 2.5em;
}

.sg-navlist,
.sg-navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sg-navlist li {
  margin-bottom: .5em;
}

.sg-navlist a {
  display: block;
  color: #333;
  font-size: 1.2em;
  text-decoration: none;
  padding: .35em 0 .35em .5em;
  border-left: 2px solid transparent;
  transition: all .15s ease-in;
}

.sg-navlist a:hover {
  background: #ecf0f1;
  border-left: 2px solid #111313;
}

.sg-dark-theme .sg-navlist a {
  color: #fff;
}

.sg-dark-theme .sg-navlist a:hover {
background: #565656;
border-left: 2px solid #939393;
color: #fff;
}


.js .sg-navlist {
  /*display: none;*/
}

@media screen and (min-width: 1024px) {
  .js .sg-navlist {
    display: block !important;
  }
}

/* Typography
---------------------------------------------------------------------------- */
.sg-h1,
.sg-h2,
.sg-h3 {
  margin-bottom: 1em;
  margin-top: 0;
}

.sg-h1 {
  font-size: 2em;
  padding-bottom: .2em;
}

.sg-h2 {
  border-bottom: 1px solid #ddd;
  font-size: 1.5em;
  margin-bottom: .75em;
  padding-bottom: .2em;
  text-transform: capitalize;
}

.sg-h3 {
  font-size: 1.2em;
}

.sg-about p {
  font-size: 1.1em;
}


/* Buttons
---------------------------------------------------------------------------- */
.sg-btn {
  background: #cbcbcb;
  border: none;
  color: #222;
  float: left;
  font-size: 16px;
  font-size: 1rem;
  padding: .5em .9em;
  text-decoration: none;
}

.sg-btn--top {
  float: right;
}

.sg-btn--source,
.sg-btn--select {
  display: none;
}

/* Show specific buttons if JS enabled */
.js .sg-btn--source {
  display: block;
}

@media screen and (min-width: 1024px) {
  .js .sg-btn--select {
    display: block;
  }
}

.sg-btn--select {
  border-radius: 0 0.3em;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 1;
}

.sg-btn--select.is-active:hover:after{
  background:#111;
  background:rgba(0,0,0,.8);
  border-radius:5px;
  top:45px;
  color:#fff;
  content:"Selected code ready to be copied";
  font-size: .8em;
  display:block;
  right:5px;
  padding:5px 15px;
  position:absolute;
  white-space:nowrap;
  z-index:98
}

.sg-btn--select.is-active:hover:before{
  border:solid;
  border-color:#111 transparent;
  border-width:0 6px 6px 6px;
  top:40px;
  content:"";
  display:block;
  left:75%;
  position:absolute;
  z-index:99
}

/* Sections
---------------------------------------------------------------------------- */
.sg-section {
  margin-bottom: 32px; /* For older browsers */
  margin-bottom: 3rem;
}

.sg-anchor {
  display: block;
}

/* Colors
---------------------------------------------------------------------------- */
.sg-color {
  margin-bottom: 1.5em;
}

.sg-color-swatch {
  padding-top: 20%; /* Used to set height of color swatch */
}

.sg-color-name {
  font-size: 1.2em; /* Test this with 1.1 em */
  padding: .5em 0;
}

.sg-color-value {
  font-size: 1.2em;  /* Test this with 1.1 em */
}

@media only screen and (min-width: 375px) {
  .sg-color-grid {
    margin: 0 -2.5%;
    overflow: hidden;
  }

  .sg-color {
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
  }

  .sg-color-swatch {
    padding-top: 60%; /* Used to set height of color swatch */
  }
 }

@media only screen and (min-width: 760px) {
  .sg-color {
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 22%;
  }

  .sg-color-grid {
    margin: 0 -1.5%;
  }
}

/* Fonts
---------------------------------------------------------------------------- */
.sg-font-list,
.sg-font-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
+
.sg-font-list {
  font-size: 1.1em;
}

.sg-font-list dt {
  display: block;
  padding-bottom: .25em;
}

.sg-font-list dd {
  display: block;
  margin-left: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: .75em;
  padding-bottom: .75em;
}

@media only screen and (min-width: 760px) {
  .sg-font-list dt {
    float: left;
    padding-right: .25em;
  }
}


/* Markup
---------------------------------------------------------------------------- */
.sg-markup {}

.sg-doc {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}

.sg-markup-controls {
  padding-top: 1.5em;
}

.sg-source {
  position: relative;
}

.sg-source pre {
  background: #333;
  border-radius: .5em;
  border: 1px solid #ddd;
  color: #fff;
  overflow-x: scroll;
  padding: .5em .3em;
}

.sg-source pre code {
  background: transparent;
}

/* Hide source code blocks off-screen */
.js .sg-source {
  position: absolute;
  top: -100%;
  opacity: 0;
}

/* Show source code blocks when active or JS is not enabled */
.js .sg-source.is-active,
.no-js .sg-source {
  position: relative;
  opacity: 1;
}



/* -------------------------------------------------------------------------
 Legacy IE
---------------------------------------------------------------------------- */
/**
 * IE 7 Fixes
 */
.sg-color {
  *display: inline;
  zoom: 1;
}
/* End IE 7 Fixes */


/**
 * IE 6 Fixes
 */
pre{
  _white-space: pre;
  _white-space: pre-wrap;
  _word-wrap: break-word;
}
/* End IE 6 Fixes */
