 body {
  font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif;
}

/* -------------------------------------------------------------------------
 Colors
---------------------------------------------------------------------------- */
.sg-color--a .sg-color-swatch {background: #88ffda;}

.sg-color--b .sg-color-swatch {background: #4dd3c9;}

.sg-color--c .sg-color-swatch {background: #339db0;}

.sg-color--d .sg-color-swatch {background: #2078aa;}

.sg-color--e .sg-color-swatch {background: #3a517a;}

.sg-color--f .sg-color-swatch {background: #384355;}


/* -------------------------------------------------------------------------
 Fonts
---------------------------------------------------------------------------- */
.sg-font-primary {font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif;}

.sg-font-secondary {font-family: Georgia, Times, "Times New Roman", serif;}


/* -------------------------------------------------------------------------
 Alerts
---------------------------------------------------------------------------- */
/**
 * Alert styles. Your patterns/styles will vary. 
 * You should link your main stylesheet up with Style Guide Boilerplate for 
 * best results. When you update your site's styles, your style guide will
 * update as well.
 */
.alert {
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}



/* -------------------------------------------------------------------------
 Breadcrumbs
---------------------------------------------------------------------------- */
/**
 * Breadcrumb styles for first pattern. Your patterns/styles will vary. 
 * You should link your main stylesheet up with Style Guide Boilerplate for 
 * best results. When you update your site's styles, your style guide will
 * update as well.
 */
.breadcrumb {
   background-color: #eee;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  list-style: none;
  margin: 0 0 20px;
  padding: 8px 15px;
}

.breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #fff;
  *zoom: 1;
}

.breadcrumb li a {
  color: #007f96;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #004068;
}

.breadcrumb li .divider {  
  color: #aaa;
  padding: 0 5px;
}

.breadcrumb .active {
  color: #555;
}