.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #474949 0%, #292a2a 100%);
  background-image: linear-gradient(to bottom, #474949 0%, #292a2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff474949', endColorstr='#ff292a2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #242525;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #292a2a;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #292a2a;
  border-color: #242525;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #9c9c9c 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #9c9c9c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ff9c9c9c', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #979797;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #9c9c9c;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #9c9c9c;
  border-color: #979797;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #469408 0%, #2b5a05 100%);
  background-image: linear-gradient(to bottom, #469408 0%, #2b5a05 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff469408', endColorstr='#ff2b5a05', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #265004;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #2b5a05;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #2b5a05;
  border-color: #265004;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #029acf 0%, #016d92 100%);
  background-image: linear-gradient(to bottom, #029acf 0%, #016d92 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff029acf', endColorstr='#ff016d92', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #016588;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #016d92;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #016d92;
  border-color: #016588;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #9b479f 0%, #723475 100%);
  background-image: linear-gradient(to bottom, #9b479f 0%, #723475 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9b479f', endColorstr='#ff723475', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #6b316e;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #723475;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #723475;
  border-color: #6b316e;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9831f 0%, #a36317 100%);
  background-image: linear-gradient(to bottom, #d9831f 0%, #a36317 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9831f', endColorstr='#ffa36317', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #9b5d16;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #a36317;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #a36317;
  border-color: #9b5d16;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #aeaeae 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #aeaeae 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffaeaeae', GradientType=0);
  background-color: #aeaeae;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #aeaeae 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #aeaeae 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffaeaeae', GradientType=0);
  background-color: #aeaeae;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #fafafa 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #fafafa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#fffafafa', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #d4d4d4 0%, #bbbbbb 100%);
  background-image: linear-gradient(to bottom, #d4d4d4 0%, #bbbbbb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd4d4d4', endColorstr='#ffbbbbbb', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #c1c1c1 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #c1c1c1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffc1c1c1', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  border-color: #9acfea;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  border-color: #dca7a7;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #a2a2a2 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #a2a2a2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffa2a2a2', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #469408 0%, #2f6405 100%);
  background-image: linear-gradient(to bottom, #469408 0%, #2f6405 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff469408', endColorstr='#ff2f6405', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #029acf 0%, #02749c 100%);
  background-image: linear-gradient(to bottom, #029acf 0%, #02749c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff029acf', endColorstr='#ff02749c', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #9b479f 0%, #79377c 100%);
  background-image: linear-gradient(to bottom, #9b479f 0%, #79377c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9b479f', endColorstr='#ff79377c', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #d9831f 0%, #ac6819 100%);
  background-image: linear-gradient(to bottom, #d9831f 0%, #ac6819 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9831f', endColorstr='#ffac6819', GradientType=0);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #a2a2a2;
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #a8a8a8 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #a8a8a8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffa8a8a8', GradientType=0);
  border-color: #a8a8a8;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #efefef 100%);
  background-image: linear-gradient(to bottom, #fcfcfc 0%, #efefef 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcfcfc', endColorstr='#ffefefef', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #bbbbbb 0%, #aeaeae 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #aeaeae 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffaeaeae', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #469408 0%, #3b7c07 100%);
  background-image: linear-gradient(to bottom, #469408 0%, #3b7c07 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff469408', endColorstr='#ff3b7c07', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #029acf 0%, #0287b6 100%);
  background-image: linear-gradient(to bottom, #029acf 0%, #0287b6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff029acf', endColorstr='#ff0287b6', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #9b479f 0%, #8a3f8d 100%);
  background-image: linear-gradient(to bottom, #9b479f 0%, #8a3f8d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9b479f', endColorstr='#ff8a3f8d', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9831f 0%, #c3761c 100%);
  background-image: linear-gradient(to bottom, #d9831f 0%, #c3761c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9831f', endColorstr='#ffc3761c', GradientType=0);
}
.well {
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f4f4f4 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f4f4f4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff4f4f4', GradientType=0);
  border-color: #dbdbdb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
