/* -------------------------------------------------------------------------

 Style Guide Boilerplate
 Repo: https://github.com/bjankord/Style-Guide-Boilerplate
 Author: Brett Jankord
 License: MIT

---------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------
 Layout
---------------------------------------------------------------------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.sg-info,
.sg-section-group {
  padding-bottom: 2rem;
}

.sg-wrapper {
  position: relative; /* Used to help sidebar height go all the way down the page */
}

.sg-main {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 1025px) {
  .sg-main {
    float: right;
    width: 75%;
  }
}

/* -------------------------------------------------------------------------
 Utility Classes
---------------------------------------------------------------------------- */
.sg-container {
  padding: 0 1rem;
}

.sg-container:before,
.sg-container:after,
.sg-clearfix:before,
.sg-clearfix:after,
.sg-markup-controls:before,
.sg-markup-controls:after{
  content:"";
  display:table;
  line-height:0
}

.sg-container:after,
.sg-clearfix:after,
.sg-markup-controls:after {
  clear: both;
}

/* -------------------------------------------------------------------------
 Modules
---------------------------------------------------------------------------- */

/* Fonts
---------------------------------------------------------------------------- */

/* SG Font 1 */
.sg-font1,
.sg-logo,
.sg-color-value  {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}

/* SG Font 2 */
.sg-font2,
.sg-logo em,
.sg-nav-toggle,
.sg-color-name,
.sg-font-list dt  {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 500;
}


/* Navigation
---------------------------------------------------------------------------- */
.sg-nav-group,
.sg-nav-group li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sg-nav-group li {
  margin-bottom: .5em;
}

.sg-nav-group a,
.sg-nav-group a:visited {
  border-left: 2px solid transparent;
  color: #fff;
  display: block;
  font-size: 1.2em;
  padding: .35em 0 .35em .5em;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .15s ease-in;
}

.sg-nav-group a:hover,
.sg-nav-group a:focus {
  background: #565656;
  border-left: 2px solid #939393;
  color: #fff;
}

.sg-nav-group .sg-subnav-parent {
  margin: 2.5em 0;
}

.sg-nav-group:first-child > .sg-subnav-parent {
  margin-top: 0;
}



/* Buttons
---------------------------------------------------------------------------- */
.sg-btn {
  background: #cbcbcb;
  border: none;
  color: #222;
  float: left;
  font-size: 1rem;
  padding: .5em .9em;
  text-decoration: none;
}

.sg-btn--top {
  float: right;
}

.sg-btn--source {
  display: none;
}

/* Show specific buttons we cut the mustard */
.sg-btn--source {
  display: block;
}

@media screen and (min-width: 1025px) {
  .sg-btn--select {
    display: block;
  }
}

.sg-btn--select {
  border-radius: 0 0.2em;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 1;
}

.sg-btn--select-active:hover:after{
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  color: #fff;
  content: "Selected code ready to be copied";
  display: block;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0.5rem;
  top: 3rem;
  white-space: nowrap;
  z-index: 98;
}

.sg-btn--select-active:hover:before{
  border-color: transparent transparent #111 transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  content: "";
  display: block;
  height: 0;
  left: 45%;
  position: absolute;
  top: 40px;
  top: 2.5rem;
  width: 0;
  z-index: 99;
}



/* Videos
---------------------------------------------------------------------------- */
.sg-video {
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

.sg-video video {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
